{% extends 'AppBundle::layout.html.twig' %}

{% block menu_shows %}active{% endblock %}

{% block contents %}
    <section>
        <div class="container">
            <h3>Import OMDB</h3>

        </div>
    </section>
{% endblock %}