#season-title {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

#season-title > a {
    margin-left: 5px;
}

#daysleft {
    background-color: #18BC9C;
    margin-top: 13px;
}